body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

/* LOGO HEADER*/
.logo-header {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

/* ADDRESS */
.address {
    font-style: normal;
}

/* LISTS */
.menu-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
/* COLOR CHANGE */
.menu-item:hover,
.menu-item:focus,
.menu-item:active {
    color: #404bbf;
}

/* SECTION 1 */
.section-one {
    background-color: #2e2f42;
}

/* HEADING */
.heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}

/* BUTTON */
.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
}

/* LOGO FOOTER */
.logo-footer {
        font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
}